<div class="contact-form">
    <h2>Keep up to date with my stuff</h2>
    <p class="align-center">Subscribe to get new posts and retrospectives</p>
<form
        action="https://buttondown.email/api/emails/embed-subscribe/dansult"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/dansult', 'popupwindow')"
        class="form-style"
>
    <ul>
        <li>
            <input placeholder="Enter your email" class="field-style field-split" type="email" name="email" id="bd-email" />
        </li>
        <li>
            <input class="field-style btn" type="submit" value="Subscribe" style="width: 49%" />
        </li>
    </ul>
    <p style="font-size: 1em">
        <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
    </p>
</form>
</div>